# dependencies
node_modules/

# build outputs
dist/
.next/
storybook-static/
coverage/
.turbo/

# environments
.env
.env.*
!.env.example

# my personal space for local experiments, but feel free to use it
/loomas-sandbox/

# os and editor
.DS_Store
*.log
